<h1> Home </h1>
<p>This is the {{ title }} page</p>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{{#if isAvailable}}
<div class="card" style="width: 18rem;">
  <ul id="list-template" class="list-group-item">
    {{#each rooms}}
         <li class="list-group-item"> <a href={{this.id}}> {{this.name}}  </a></li>
    {{/each}}
</ul>
</div>
{{/if}}

<form action="/create" method="POST">
<input type="text" name="roomName" placeholder="enter room name"/>
<input type="submit" value="create room"/> 
</form>

<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script>
    window.addEventListener('load', function () {
        setInterval(async function(){
            fetch('http://localhost:3000/getRoom')
                .then(response => response.json())
                .then(data => {
                    var roomsJson = data;
                    console.log(roomsJson);
                    var html = "";
                    var ul_element = document.getElementById('list-template');
                    
                    document.getElementById('list-template').innerHTML=" "

                    for(var j = 0; j < roomsJson.length; ++j) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.setAttribute('href', roomsJson[j].id)
                        li.appendChild(a);
                        li.className = "list-group-item";
                        document.getElementById('list-template').appendChild(li)
                        a.innerHTML = a.innerHTML + roomsJson[j].name
                    }

                })
                .catch(err => {
                    console.log("ERROR" + err)
                });
        }, 1000);
    });
</script>